python-dotenv
flask 
flask-cors
langchain 
langchain-groq
langchain-community
langchain-postgres
psycopg[binary,pool]
langchain-core
flask_swagger_ui
google-cloud-secret-manager
requests
pytest
pytest-html
ruff
