python-dotenv
flask
flask-cors
flask-smorest
marshmallow
langchain
langchain-groq
langchain-community
langchain-postgres
psycopg[binary,pool]
langchain-core
flask_swagger_ui
google-cloud-secret-manager
requests
pytest
pytest-html
ruff
